#yo:hover {
  border: 10px solid black;
}

html {
  font-family: 'IM Fell English SC', serif;
  font-size: 30px;
  text-shadow: 4px 4px 4px #aaa;
}

h1 {
  color: red;
  font-size: 60px;
  text-align: center;
}

p, li {
  font-size: 20px;    
  line-height: 2;
  letter-spacing: 1px;
}